{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
	    "@AppBundle/Resources/public/css/auth.css"
	%}
	<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData) }}</div>
{% endif %}
<h1>Login</h1>
{% for flashMessage in app.session.flashbag.get('auth.login') %}
    <div style="color: green">
        {{ flashMessage }}
    </div>
{% endfor %}
<form action="{{ path('app.auth.check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>
</form>
<a href="{{ path("app.auth.registration") }}">Create an account</a>
{% endblock %}