{% extends 'base.html.twig' %}

{% block body %}
<h1>Random Helper App</h1>
<h2>Options</h2>

<ul>
	<li>Tasks
		<ul>
			<li><a href="{{ path("tasks") }}">list</a></li>
			<li><a href="{{ path("new_task") }}">add</a></li>
		</ul>
	</li>
	<li>Category
		<ul>
			<li><a href="{{ path("categoryList") }}">list</a></li>
			<li><a href="{{ path("categoryAdd") }}">add</a></li>
		</ul>
	</li>
	<li>Contacts
		<ul>
			<li><a href="{{ path("app.contacts") }}">list</a></li>
			<li><a href="{{ path("app.contact.add") }}">add</a></li>
		</ul>
	</li>
	<li>Counter stats
		<ul>
			<li>Reads
				<ul>
					<li><a href="{{ path("readList") }}">list</a></li>
					<li><a href="{{ path("readAdd") }}">add</a></li>
				</ul>
			</li>
			<li>Read Categories
				<ul>
					<li><a href="{{ path("readCatList") }}">list</a></li>
					<li><a href="{{ path("readCatAdd") }}">add</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
{% endblock %}
